html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(50deg, #050606, #272b2e);
}

/* ------------------- PRINCIPAL --------------------*/

#principal {
    width: 75%;
    background: url(regex.jpg);
    background-position: center;
    margin: 175px;
}

.caixa {
    padding: 50px 0px;
    background: rgba(0,0,0,0.9);
    text-align: center;
}

a {
    font-family: Courier, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* ------------------- TIPOGRAFIA ---------------------*/

h1 {
    color: white;
    font: bold;
    font-family: Courier, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* ---------------------- RODAPÉ ---------------------- */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    background: rgba(0,0,0,0.6);
}

footer ul {
    list-style: none;
}

footer ul li {
    color: white;
}